body{
	margin:0;padding:.75vw;
	
	font-size: clamp(8pt,3vw,11pt);
	font-family:'Times New Roman', Times, serif;
}
/* body::-webkit-scrollbar{display:none;} */
 
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

#pre-game input[type="text"]{
	outline:none;
	border:none;
	border-bottom:1px solid black;
}


.player>span{
	display:block;
  	font-size: 2vw;
	font-family: 'Courier New', Courier, monospace;
	white-space: nowrap;
}

.tooltip-cutoff{
  position: relative;
  display: block;
}
.tooltip-cutoff:hover::after {
  content: attr(data-text);
  position: absolute;
  font-size: 1.5vw;
  background: #eee;
  text-align: center;
  top: 1.5vw;
  left: 1.5vw;
  border: 1px solid black;
  padding: .2vw;
  display: block;
  white-space: nowrap;
  animation-name: tooltip-delay;
  animation-duration: .5s;
}
.tooltip-cutoff::before {
  content: attr(data-text);
  display: block;
  font-size: 2vw;
  width: calc(var(--p-width) - 2vw);
  overflow-x: hidden;
  white-space: nowrap;
  border-bottom: 1px dashed #000;
}
@keyframes tooltip-delay {
	0%{opacity:0%;}
	100%{opacity:0%;}
	1000%{opacity:100%;}
}




#nameDisplay,#Games:first-child,#gameList>span{
	border-bottom:1px solid black;
	display: block;width:100%;
}






html{padding:0;margin:0;}
body{padding:1vw;margin:0;}

#main{
	display: flex;
    flex-direction: row;
	flex-wrap:nowrap;
	width:98vw;
	--innerHeight:calc(100vh - 2vw);
	height:calc(100vh - 2vw);
}